
body {
    margin: 0;
}

.flex-container-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.mine-navbar-container {

    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    color: white;

    font-family: 'Lora', serif;
}

div.mine-navbar-container:hover {
    -webkit-animation-name: color_change;
    animation-name: color_change;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background-color: black;
}

div.mine-navbar-container .mine-navbar-stretch {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

div.mine-navbar-container .mine-navbar-title {
    font-size: 30px;
    margin-left: 50px;
}

div.mine-navbar-container .mine-navbar-item {
    font-size: 20px;
    margin-right: 50px;
    padding: 5px 10px;
}

div.mine-navbar-container .mine-navbar-item:hover {
    background-color: rgb(232, 184, 38);
    color: rgb(146, 14, 27);
    border-radius: 20px;
    font-weight: bold;
}

@-webkit-keyframes color_change {
    from {
        background-color: transparent
    }
    to {
        background-color: black;
    }
}

@keyframes color_change {
    from {
        background-color: transparent
    }
    to {
        background-color: black;
    }
}

header.header-container {

    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-animation-name: show-header;
    animation-name: show-header;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show-header {
    0%{background-color: black;}
    50%{}
    100%{
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(25, 25, 25, 0.5))), url("../images/pooh's-home.jpg");
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.5)), url("../images/pooh's-home.jpg");
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.5)), url("../images/pooh's-home.jpg");
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.5)), url("../images/pooh's-home.jpg");
    }
}


@keyframes show-header {
    0%{background-color: black;}
    50%{}
    100%{
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(25, 25, 25, 0.5))), url("../images/pooh's-home.jpg");
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.5)), url("../images/pooh's-home.jpg");
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.5)), url("../images/pooh's-home.jpg");
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(25, 25, 25, 0.5)), url("../images/pooh's-home.jpg");
    }
}


div.header-text {

    font-family: 'Croissant One', cursive;
    font-size: 4rem;
    color: white;
    text-align: center;

    -webkit-animation-name: text-float-up;
    animation-name: text-float-up;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes text-float-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,10px,0);
        -ms-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate3d(0,10px,0);
        -ms-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes text-float-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,10px,0);
        -ms-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }
    75% {
        opacity: 0;
        -webkit-transform: translate3d(0,10px,0);
        -ms-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}


#profile {
    display: block;
    height: 150px;
    margin: -75px auto 0 auto;
    border: 2px white solid;
    border-radius: 100%;
}

#profile:hover {
    -webkit-animation: rotation_profile;
    animation: rotation_profile;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotation_profile {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes rotation_profile {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}


.heading {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

div.article {
    width: 50%;
    margin: 60px auto;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 50px;
    -webkit-animation-name: text-float-up;
    animation-name: text-float-up;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

div.fixed-img {
    height: 600px;
    color: white;
    font-family: 'Croissant One', cursive;
    font-size: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

#img-1 {
    background-image: url('../images/pooh_1.jpg');
}

#img-2 {
    background-image: url('../images/pooh-honey.jpg');
}

#img-3 {
    background-image: url('../images/pooh_origin.jpg');
}

#img-4 {
    background-image: url('../images/pooh-eat.jpg');
}

#img-5 {
    height: 800px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.5)), to(rgba(51, 51, 51, 0.5))), url('../images/pooh-bye.jpg');
    background-image: -webkit-linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url('../images/pooh-bye.jpg');
    background-image: -o-linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url('../images/pooh-bye.jpg');
    background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url('../images/pooh-bye.jpg');
}


div.thanks-for-watching {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 400px;
    background-color: rgb(209, 177, 117);
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lora', serif;

}

img.profile-in-thanks {
    display: block;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 5px white solid;
    margin-bottom: 50px;
}


img.profile-in-thanks:hover {
    -webkit-animation: rotation_profile;
    animation: rotation_profile;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

footer div.copyright {
    background-color: black;
    height: calc(100vh - 800px);
    color: gray;
    font-size: 15px;
    font-family: Helvetica, serif;
}

footer div#contact-background {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    background-color: #996d0b;

}

footer div#contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    margin: auto;
    width: 50%;
    padding: 6px;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

*::-moz-selection {
    background-color: rgb(232, 184, 38) ;
    color: #fff;
}

*::selection {
    background-color: rgb(232, 184, 38) ;
    color: #fff;
}